/* NavBar.css */
.custom-navbar {
    background-color: #16a0a5; /* Cambia a tu color deseado */
  }
  
  .custom-navbar .navbar-brand,
  .custom-navbar .nav-link,
  .custom-navbar .dropdown-item {
    color: #fff; 
  }
  
  .custom-navbar .dropdown-item:hover {
    background-color: #c70039; 
  }
  
  #btnCerrar {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #007bff;
    border: 1px solid #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  #btnCerrar:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  #btnCerrar:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }

