
.tareasConteiner {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 5rem;
}

#h2Titulo {
    text-align: center;
    color: #333;
}


.tareasConteiner2 {
    margin-top: 20px;
}


.containerTareas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}


#tarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

#prioridadTarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    height: auto;
}

#btnAgregarTarea {
    background-color: #0f8d96;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#btnAgregarTarea:hover {
    background-color: #0f8d9694;
}


#contenedorTareas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.tarea button {
    background-color: #167a72;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.tarea button:hover {
    background-color: #167a7281;
}

.tarea button:first-of-type {
    background-color: #dc35c6;
}

.tarea button:first-of-type:hover {
    background-color: #ad259bad;
}
